{% extends "pe/base.html" %}
{% block mainbody %}

{% load static %}

  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <section>
        <div class="container ng-scope" style="width:1360px;padding-top: 2px;height: 680px;">
          <iframe src="https://chat3.aichatos.top/#/chat/1689732738728" style="float:left;" name="aaa" id="aaa" frameborder="0" scrolling="auto" marginwidth="0" marginheight="0"
            width="100%" height="100%"></iframe>
        </div>
      </section>
      <!--Section: Content-->
    </div>
  </main>
{% endblock %}
